.page-intro__title {
  color: #B11117;
  font-family: "Chapeau", "Roboto";
}

.post {
  position: relative;
  font-family: "Inter", "Roboto";
}

.post .post__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.4s ease;
}

.post__inside .post__header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px 30px;
  z-index: 20;
}

@media screen and (max-width: 991px) {
  .post__inside {
    margin-bottom: 30px;
  }
}
.post__inside--feature .post__header {
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 75%);
  transition: all 0.4s ease;
}

.post__inside--feature .post__title {
  margin-bottom: 15px;
}

.post__inside--feature .post__title a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Chapeau", "Roboto";
}

.post__inside--feature .post__title:hover a {
  color: var(--color-1st);
}

.post__inside--feature .post__meta span {
  margin-right: 15px;
  color: var(--color-1st);
}

.post__inside--feature .post__meta span i {
  margin-right: 8px;
}

.post__inside--feature .post__meta .post-category i {
  margin-right: 0;
}

.post__inside--feature .post__meta span a {
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
}

.post__inside--feature .post__meta span a:hover {
  color: var(--color-1st);
}

.post__inside--feature .post__meta .post-category {
  display: inline-block;
  padding: 3px 10px;
  line-height: 15px;
  background-color: var(--color-1st);
  transition: all 0.5s ease;
  color: #ffffff;
}

.post__inside--feature .post__meta .post-category a {
  display: inline-block;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.post__inside--feature .post__meta .post-category a:hover {
  color: #ffffff;
}

.post__inside--feature .post__meta .post-category:hover {
  color: var(--color-1st);
  background-color: #ffffff;
}

.post__inside--feature .post__meta .post-category:hover a {
  color: var(--color-1st);
}

.post__inside--feature:hover .post__overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.post__inside--feature-small .post__header {
  padding: 15px;
}

.post__inside--feature-small .post__title {
  margin-bottom: 0;
  line-height: 1em;
}

.post__inside--feature-small .post__title a {
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
}

.post__horizontal {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.post__horizontal .post__thumbnail {
  float: left;
  width: 350px;
  position: relative;
  z-index: 20;
  min-height: 235px;
}

.post__horizontal .post__thumbnail .post__overlay {
  z-index: 20;
  transition: all 0.4s ease-in;
}

.post__horizontal .post__content-wrap {
  float: left;
  width: calc(100% - 350px);
  padding: 15px 20px;
  font-family: "Inter", "Roboto";
}

.post__horizontal .post__content-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #ffffff;
}

.post__horizontal .post__header, .post__horizontal .post__content, .post__horizontal .post__footer {
  position: relative;
}

.post__horizontal .post__title {
  margin-bottom: 10px;
}

.post__horizontal .post__title a {
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0em;
}

.post__horizontal .post__title:hover a {
  color: var(--color-1st);
}

.post__horizontal .post__meta {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.post__horizontal .post__meta span {
  margin-right: 15px;
  color: var(--color-1st);
}

.post__horizontal .post__meta span i {
  margin-right: 10px;
}

.post__horizontal .post__meta span a, .post__horizontal .post__meta .post__created-at {
  font-weight: 400;
  color: #666666;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.post__horizontal .post__meta span a:hover {
  color: var(--color-1st);
}

.post__horizontal .post__content {
  margin-bottom: 15px;
}

.post__horizontal .post__content p {
  color: #666666;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.post__horizontal .post__content p:after {
  content: "...";
}

@media screen and (max-width: 767px) {
  .post__horizontal .post__thumbnail, .post__horizontal .post__content-wrap {
    width: 100%;
    float: none;
  }
  .navigation {
    opacity: 0;
    display: none;
  }
}
.post__horizontal--single {
  box-shadow: none;
}

.post__horizontal--single .post__thumbnail {
  width: 100px;
}

.post__horizontal--single .post__content-wrap {
  width: calc(100% - 100px);
  padding: 0 0 0 15px;
}

.post__horizontal--single .post__content-wrap:before {
  display: none;
}

.post__horizontal--single .post__title {
  margin-bottom: 0;
  line-height: 0.8em;
}

.post__horizontal .post__title a {
  color: #B11117 !important;
  font-family: "Chapeau", "Roboto";
  text-decoration: none;
}

.post__horizontal .post__title:hover a {
  color: #134A86 !important;
}

.post__horizontal--single .post__title a {
  font-size: 14px;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .post__horizontal--single .post__thumbnail, .post__horizontal--single .post__content-wrap {
    float: left;
  }
}
.post__widget .post__thumbnail {
  float: left;
  width: 60px;
  position: relative;
  z-index: 20;
}

#menu-mobile.navbar-nav .nav-link.active, #menu-mobile.navbar-nav .nav-link.show {
  color: #B11117;
}

#menu-mobile .dropdown-menu li a {
  color: #666666;
}
