@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@font-face {
  font-family: "Chapeau";
  src: url("../fonts/Chapeau-Bold.woff");
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  background: #FAF5F1;
  position: relative;
}

* {
  font-family: "Nunito", CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  color: #939598;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background: #FAF5F1;
}

.container__spacing {
  padding: 0 142px;
}
@media (max-width: 768px) {
  .container__spacing {
    padding: 14px 16px;
  }
}

.contact-us {
  position: fixed;
  z-index: 9;
  right: 0;
  top: 200px;
  height: auto;
}
.contact-us img {
  width: 45px;
}
@media (max-width: 768px) {
  .contact-us {
    top: 100px;
  }
  .contact-us img {
    width: 30px;
  }
}

.post--single .post__content p, .post--single .post__content strong, .post--single .post__content span {
  font-family: "Inter", "Robotal", "Arial" !important;
  font-size: 18px;
  color: #363636;
}
.post--single .post__content strong {
  font-weight: bold;
}

.text__title {
  font-family: "Chapeau", "Nunito", "Roboto" !important;
  text-transform: capitalize;
}

.text-body {
  color: #363636;
}

/**
    CSS theme default
**/
a, a:hover {
  text-decoration: none !important;
}

a:hover {
  color: #b11117 !important;
}

a.menu__item:hover {
  color: #134a86 !important;
}

.post {
  position: relative;
}

.post .post__overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease;
  width: 100%;
  z-index: 10;
}

.post__inside .post__header {
  bottom: 0;
  left: 0;
  padding: 25px 30px;
  position: absolute;
  width: 100%;
  z-index: 20;
}

@media screen and (max-width: 991px) {
  .post__inside {
    margin-bottom: 30px;
  }
}
.post__inside--feature .post__header {
  background-color: transparent;
  background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.7) 75%);
  transition: all 0.4s ease;
}

.post__inside--feature .post__title {
  margin-bottom: 15px;
}

.post__inside--feature .post__title a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.post__inside--feature .post__title:hover a {
  color: var(--color-1st);
}

.post__inside--feature .post__meta span {
  color: var(--color-1st);
  margin-right: 15px;
}

.post__inside--feature .post__meta span i {
  margin-right: 8px;
}

.post__inside--feature .post__meta .post-category i {
  margin-right: 0;
}

.post__inside--feature .post__meta span a {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.post__inside--feature .post__meta span a:hover {
  color: var(--color-1st);
}

.post__inside--feature .post__meta .post-category {
  background-color: var(--color-1st);
  color: #fff;
  display: inline-block;
  line-height: 15px;
  padding: 3px 10px;
  transition: all 0.5s ease;
}

.post__inside--feature .post__meta .post-category a {
  color: #fff;
  display: inline-block;
  letter-spacing: 0.1em;
}

.post__inside--feature .post__meta .post-category a:hover {
  color: #fff;
}

.post__inside--feature .post__meta .post-category:hover {
  background-color: #fff;
  color: var(--color-1st);
}

.post__inside--feature .post__meta .post-category:hover a {
  color: var(--color-1st);
}

.post__inside--feature:hover .post__overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.post__inside--feature-small .post__header {
  padding: 15px;
}

.post__inside--feature-small .post__title {
  line-height: 1em;
  margin-bottom: 0;
}

.post__inside--feature-small .post__title a {
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
}

.post__horizontal {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.post__horizontal .post__thumbnail {
  float: left;
  position: relative;
  width: 350px;
  z-index: 20;
}

.post__horizontal .post__thumbnail .post__overlay {
  transition: all 0.4s ease-in;
  z-index: 20;
}

.post__horizontal .post__content-wrap {
  float: left;
  padding: 15px 20px;
  width: calc(100% - 350px);
}

.post__horizontal .post__content-wrap:before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.post__horizontal .post__content, .post__horizontal .post__footer, .post__horizontal .post__header {
  position: relative;
}

.post__horizontal .post__title {
  margin-bottom: 10px;
}

.post__horizontal .post__title a {
  color: #666;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}

.post__horizontal .post__title:hover a {
  color: var(--color-1st);
}

.post__horizontal .post__meta {
  margin-bottom: 10px;
}

.post__horizontal .post__meta span {
  color: var(--color-1st);
  margin-right: 15px;
}

.post__horizontal .post__meta span i {
  margin-right: 10px;
}

.post__horizontal .post__meta .post__created-at, .post__horizontal .post__meta span a {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.post__horizontal .post__meta span a:hover {
  color: var(--color-1st);
}

.post__horizontal .post__content {
  margin-bottom: 15px;
}

.post__horizontal .post__content p {
  color: #666;
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.post__horizontal .post__content p:after {
  content: "...";
}

@media screen and (max-width: 767px) {
  .post__horizontal .post__content-wrap, .post__horizontal .post__thumbnail {
    float: none;
    width: 100%;
  }
  .navigation {
    display: none;
    opacity: 0;
  }
}
.post__horizontal--single {
  box-shadow: none;
}

.post__horizontal--single .post__thumbnail {
  width: 100px;
}

.post__horizontal--single .post__content-wrap {
  padding: 0 0 0 15px;
  width: calc(100% - 100px);
}

.post__horizontal--single .post__content-wrap:before {
  display: none;
}

.post__horizontal--single .post__title {
  line-height: 0.8em;
  margin-bottom: 0;
}

.post__horizontal--single .post__title a {
  font-size: 14px;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .post__horizontal--single .post__content-wrap, .post__horizontal--single .post__thumbnail {
    float: left;
  }
}
.post__widget .post__thumbnail {
  float: left;
  position: relative;
  width: 60px;
  z-index: 20;
}

.post__widget .post__thumbnail img {
  width: 100%;
}

.post__widget .post__overlay {
  z-index: 20;
}

.post__widget .post__header {
  float: left;
  padding-left: 15px;
  width: calc(100% - 60px);
}

.post__widget .post__title {
  color: #636363;
  font-size: 13px;
  line-height: 1.5em;
  margin-bottom: 0;
  text-transform: none;
}

.post__widget .post__title a {
  color: #636363;
  font-weight: 400;
}

.post__widget .post__title:hover a {
  color: var(--color-1st);
}

.post__widget .created_at {
  color: var(--color-1st);
  font-size: 11px;
}

.post__vertical .post__thumbnail {
  position: relative;
}

.post__vertical .post__title a {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4em;
}

.post__vertical .post__title:hover a {
  color: var(--color-1st);
}

.post__vertical--single {
  background-color: #fff;
}

.post__vertical--single .post__thumbnail {
  position: relative;
}

.post__vertical--single .post__content-wrap {
  padding: 50px 0 25px;
  position: relative;
}

.post__vertical--single .post__meta {
  background-color: var(--color-1st);
  height: 70px;
  left: 30px;
  padding-top: 3px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateY(-50%);
  width: 70px;
  z-index: 30;
}

.post__vertical--single .post__meta span {
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  width: 100%;
}

.post__vertical--single .post__meta span.created__date {
  font-size: 20px;
  font-weight: 700;
}

.post__vertical--single .post__meta span.created__year {
  font-size: 14px;
  font-weight: 700;
}

.post__vertical--single .post__title a {
  font-size: 18px;
}

.post__vertical--single .post__content {
  padding-bottom: 15px;
}

.post__vertical--single .post__content p {
  color: #666;
  font-size: 14px;
}

.post__vertical--single .post__content p:after {
  content: "...";
}

.post__vertical--simple {
  background-color: transparent;
}

.post__vertical--simple .post__content-wrap {
  padding: 50px 0 15px;
}

.post__vertical--simple .post__content {
  background-color: transparent;
}

.post__vertical--simple .post__content p {
  font-size: 13px;
}

.post--single .post__header {
  border-bottom: 1px solid #eee;
}

.post--single .post__title {
  color: #666;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.post--single .post__meta {
  margin-bottom: 10px;
}

.post--single .post__meta span {
  color: var(--color-1st);
  margin-right: 15px;
}

.post--single .post__meta span i {
  margin-right: 10px;
}

.post--single .post__meta span a {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.post--single .post__meta span a:hover {
  color: var(--color-1st);
}

.post--single .post__meta .post__tags a {
  margin-right: 5px;
}

.post--single .post__content {
  padding: 30px 0;
}

.post--single .post__content h1, .post--single .post__content h2, .post--single .post__content h3, .post--single .post__content h4, .post--single .post__content p {
  color: #666;
}

.post--single .post__content p {
  font-size: 13px;
  line-height: 1.8em;
  margin-bottom: 15px;
}

.post--single .post__relate-group {
  text-align: left;
}

.post--single .post__relate-group.post__relate-group--right {
  text-align: right;
}

.post--single .post__relate-group.post__relate-group--right .relate__title:after {
  left: auto;
  right: 0;
}

.post--single .post__relate-group .relate__title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
  position: relative;
}

.post--single .post__relate-group .relate__title:after {
  background-color: var(--color-1st);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 25px;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .post--single .post__relate-group {
    margin-bottom: 30px;
  }
  .post--single .post__relate-group.post__relate-group--right {
    text-align: left;
  }
  .post--single .post__relate-group.post__relate-group--right .relate__title:after {
    left: 0;
    right: auto;
  }
}
.post--related:after {
  clear: both;
  content: "";
  display: table;
}

.post--related .post__thumbnail {
  float: left;
  position: relative;
  width: 100px;
}

.post--related .post__header {
  border-bottom: none;
  float: left;
  padding-left: 15px;
  width: calc(100% - 100px);
}

.post--related .post__title {
  font-size: 14px;
  text-transform: uppercase;
}

.post--related .post__title:hover {
  color: var(--color-1st);
}

.widget .widget__content ul {
  list-style: none;
  padding: 0px;
}

.page-sidebar {
  /* padding: 5px; */
  overflow-x: hidden;
}

.widget {
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.widget .widget__content,
.widget .widget__header {
  padding: 15px;
}

.widget .widget__content .list li a,
.widget .widget__header .list li a {
  color: #636363;
}

.widget .widget__content .list li a:hover,
.widget .widget__header .list li a:hover {
  color: var(--color-1st);
}

.widget.widget__footer .widget__content .list li a {
  color: #d7d0d0;
}

.widget.widget__footer .widget__content .list li a:hover {
  color: var(--color-1st);
}

.widget .widget__header {
  background-color: #f9f9f9;
}

.widget .widget__title {
  color: #363636;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.widget__recent-post .post {
  border-bottom: 1px dashed #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.widget__recent-post li:last-child .post {
  border-bottom-width: 0;
}

.widget__about p {
  color: #d7d0d0;
  font-size: 13px;
  line-height: 1.6em;
}

.widget__about .person-detail p {
  color: #e4e4e4;
  font-size: 13px;
  margin-bottom: 15px;
}

.widget__about .person-detail i {
  color: var(--color-1st);
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.widget__about .person-detail a {
  color: #fff;
}

.widget__about .person-detail a:hover {
  color: var(--color-1st);
}

.widget--transparent {
  background-color: transparent;
  box-shadow: none;
}

.widget--transparent .widget__content,
.widget--transparent .widget__header {
  padding: 0;
}

.widget--transparent .widget__header {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  padding-bottom: 5px;
  position: relative;
}

.widget--transparent .widget__header:after {
  background-color: var(--color-1st);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 25px;
  z-index: 10;
}

.widget--transparent .post {
  margin-bottom: 0;
}

.widget__footer .widget__title {
  color: #e4e4e4;
  font-size: 14px;
  text-transform: uppercase;
}

.widget__tags .tag-link {
  background-color: #ecf0f1;
  color: #666;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 15px;
}

.widget__tags .tag-link:last-child {
  margin-right: 0;
}

.widget__tags .tag-link:hover {
  background-color: var(--color-1st);
  color: #fff;
}

.widget__tags--transparent .tag-link {
  background-color: #fff;
}

.translate {
  font-family: "Inter", CenturyGothic, AppleGothic, sans-serif !important;
  font-size: 13px;
  color: #939598;
  max-width: 60%;
}

.google-wrapper {
  display: inline-block;
  width: 150px;
  background-color: #fff;
  color: #939598;
  overflow: hidden;
  position: relative;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.google-wrapper select {
  border: none;
  background: transparent;
  font-family: "Inter", CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  width: 100%;
  color: #939598;
  box-sizing: border-box;
  -webkit-appearance: none;
  cursor: text;
  padding: 5px 10px;
  line-height: 1;
}

.google-wrapper a,
.google-wrapper a:hover {
  display: inline-block;
  background-color: none;
  border: none;
  color: #939598;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  width: 20px;
  transition: all 0.3s ease;
  margin: 0;
}

.google-wrapper a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 4.5px solid transparent;
  border-left-color: #939598;
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -5px;
}

#translator-wrapper select:focus,
#translator-wrapper a:focus,
#translator-wrapper select:active,
#translator-wrapper a:active {
  border: none;
  outline: none;
  cursor: pointer;
}

.google-dropdown {
  background: #FFFFFF;
  color: #939598;
  min-width: 190px;
  padding: 15px;
  line-height: 20px;
  font-family: "Inter", CenturyGothic, AppleGothic, sans-serif;
  font-size: 10px;
}

#translator-wrapper a:hover,
#translator-wrapper a:active {
  opacity: 0.9;
}

.goog-logo-link {
  display: none !important;
}

#google_translate_element img {
  display: none !important;
}

#google_translate_element span a {
  content: "" !important;
  display: none;
}

.text__blue {
  color: #134a86 !important;
}

.text__red {
  color: #b11117 !important;
}

.header ul li a {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header {
    height: 70px;
  }
}

.menu {
  width: 100%;
  height: 110px;
  background-color: #B11117;
}
.menu .logo {
  left: 142px;
  width: 180px;
  height: 180px;
  background-color: #B11117;
  border-radius: 50%;
  padding: 10px;
  z-index: 1;
}
.menu .logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .menu .logo {
    top: 20px;
    left: 16px;
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .menu #menu-desktop {
    display: none;
  }
}
.menu #menu-desktop .menu-button a {
  background: #fff;
  color: #DA2128;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.menu #menu-desktop #nav-item-more {
  background: #B11117;
  display: none;
  float: right;
  transition: none;
}
.menu #menu-desktop .dropdown-menu .dropdown-item {
  position: relative;
}
.menu #menu-desktop .dropdown-menu .dropdown-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: width 0.5s ease;
}
.menu #menu-desktop .dropdown-menu .dropdown-item:hover {
  color: #FFFFFF !important;
  background-color: #B11117 !important;
}
.menu #menu-desktop .dropdown-menu .dropdown-item:hover::after {
  width: 100% !important;
}
.menu #menu-desktop .dropdown-menu.show {
  background: #B11117;
  padding: 40px 0px 0px 0px;
}
.menu #menu-desktop .dropdown-menu.show li {
  padding: 7px 15px;
}
.menu #menu-desktop .dropdown-menu.show li a {
  color: #FFFFFF;
  padding: 6px 0px !important;
}
.menu #menu-overflow {
  position: absolute;
  right: 0;
  left: unset !important;
  transition: none;
}
.menu #menu-overflow .dropdown-item:focus {
  background: #B11117;
}
.menu #menu-overflow .dropdown-menu.show {
  padding: 0px 0px 0px 0px;
}
@media (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    height: 70px;
  }
  .menu .logo {
    width: 70px;
    height: 70px;
  }
  .menu .logo img {
    width: 100%;
    height: 100%;
  }
}
.menu__item {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 16px;
}
.menu__item:hover {
  transition: 0.4s;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .menu__item {
    display: none;
  }
}
.menu__sub {
  padding: 0;
  border: none;
  border-radius: 0;
}
@media (max-width: 768px) {
  .menu__sub {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__mobile {
  width: auto;
  display: none;
}
@media (max-width: 768px) {
  .menu__mobile {
    display: block;
  }
  .menu__mobile button {
    outline: none;
  }
}

.container {
  width: 100%;
  height: auto;
}
.container__menu {
  padding: 14px 142px;
}
@media (max-width: 768px) {
  .container__menu {
    padding: 14px 16px;
  }
}
@media (max-width: 1920px) {
  .container__menu {
    padding: 14px 42px;
  }
}

.container__footer {
  position: absolute;
  bottom: 0;
  height: auto;
  padding: 0 142px 37px 142px;
}
@media (max-width: 768px) {
  .container__footer {
    padding: 14px 16px;
  }
}
.container__footer .footer__list {
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .container__footer {
    position: relative;
    height: 100%;
    padding: 250px 40px 37px 40px;
  }
}

footer {
  width: 100%;
  height: auto;
  margin-top: -260px;
}
@media (max-width: 768px) {
  footer {
    margin-top: auto;
  }
}

.footer {
  position: relative;
  width: auto;
  height: 700px;
  background-image: url(./assets/images/home/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .footer {
    height: auto;
    background: none;
    background-color: #134A86;
    margin-top: 50px;
  }
}
.footer > img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .footer > img {
    display: none;
  }
}
.footer__logo {
  width: 100%;
}
@media (max-width: 768px) {
  .footer__logo {
    width: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
.footer__social {
  width: 100%;
  padding-top: 34px;
  gap: 14px;
}
.footer__social img {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .footer__social {
    padding-bottom: 14px;
  }
}
.footer__form label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 17px;
  padding-left: 15px;
}
.footer__form input {
  background-color: #FFFFFF;
  border: 1px solid #AEAEAE;
  border-radius: 10px;
  padding: 11px 13px;
}
.footer__form input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}
.footer__form input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}
.footer__form ul {
  list-style: none;
  padding: 0;
  padding-top: 40px;
}
.footer__form ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding-bottom: 14px;
  text-transform: uppercase;
}
.footer__form ul li a {
  color: #FFFFFF;
}
.footer__form ul i {
  color: #FFFFFF;
  font-size: 1.3em !important;
}
.footer__list--content > div:nth-child(2),
.footer__list--content div:nth-child(3),
.footer__list--content div:nth-child(4) {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .footer__list--content > div:nth-child(1),
  .footer__list--content div:nth-child(2),
  .footer__list--content div:nth-child(3),
  .footer__list--content div:nth-child(4) {
    padding-top: 20px;
  }
}
.footer__title {
  font-family: "Chapeau";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #134A86;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .footer__title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 1024px) {
  .footer__title {
    font-size: 20px;
  }
}
.footer__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 13px;
}
@media (max-width: 1024px) {
  .footer__content {
    font-size: 13px;
    line-height: 15px;
  }
}
.footer__content a {
  color: #FFFFFF;
}

.text__menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}
.text__menu:hover {
  color: #DA2128;
}
.text__menu--sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  padding: 6px 35px 6px 9px;
}
.text__title {
  font-family: "Chapeau";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #134A86;
}
@media (max-width: 768px) {
  .text__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.text__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.icon--logo {
  padding: 4px 22px;
}
.icon__bg-feedbacks {
  width: 100px;
  height: 100px;
}

.btn {
  cursor: pointer;
}
.btn--main {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(180deg, #0C6DD8 83.33%, #134A86 100%);
  border-radius: 8px;
}
.btn--main:hover {
  background: #FFFFFF;
  color: #134A86;
  border: 1px #134A86 solid;
  animation: 0.4s;
}
.btn--banner {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(180deg, #0C6DD8 83.33%, #134A86 100%);
  border-radius: 8px;
  color: #FFFFFF;
  background: #DA2128;
  border-radius: 25px;
  padding: 10px 20px;
}
.btn--banner:hover {
  background: #FFFFFF;
  color: #DA2128;
  border: 1px #DA2128 solid;
  animation: 0.4s;
}
@media (max-width: 768px) {
  .btn--banner {
    font-size: 14px;
    padding: 5px 10px;
  }
}

.section__news-and-event .news-and-event__item {
  background: #fff;
  border-radius: 15px;
}
.section__news-and-event .news-and-event__item:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.section__news-and-event .news-and-event__item img {
  border-radius: 15px;
}
.section__news-and-event .news-and-event__item h5 {
  font-family: "Nunito", "Roboto" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em !important;
  line-height: 50px;
  color: #134A86;
}
.section__news-and-event .news-and-event__item p {
  font-size: 1.3em;
  color: #000000;
  line-height: 1.2;
}
